/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Poppins";
  src: url("../../public//assets/Poppins-Regular.ttf") format("truetype");
}
body {
  font-family: 'Poppins';
}

body.dark {
  background-color: #121212;
  color: #FFFFFF;
}

/* Light mode styles */
body.light {
  background-color: #f2f0e4; /* Light Beige */
  color: #003a37; /* Dark Green */
}
